.layout-container {
  display: grid;
  justify-items: center;
  padding: 20px;
  min-height: 100vh;
  background: linear-gradient(to bottom, #dd0031 0%, #1b5fb7 70%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  transition: background-color 600ms;

  .inner-container {
    width: 100%;
    max-width: 880px;
  }
}

@media screen and (min-width: 920px) {
  .inner-container {
    font-size: 1.76rem;
  }
}
