:host {
  display: flex;
  margin-top: 1.6rem;
  width: 100%;

  app-weather-icon {
    flex-basis: 16.8rem;
  }

  .content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    text-align: center;

    .value {
      font-size: 8.4rem;
      font-weight: 300;
    }

    .summary {
      margin-top: -1.4rem;
      margin-left: -1.8rem;
      text-align: center;
      font-size: 2.2rem;
    }
  }
}

@media screen and (min-width: 700px) {
  :host {
    width: 50%;

    .content-container {
      .summary {
        margin-top: 0;
      }
    }
  }
}
