<ng-container *ngIf="day">
  <div class="day">
    <div class="date">
      <div>{{ day.date | date: "EEE" }}</div>
      <div class="label">{{ day.date | date: "dd/M" }}</div>
    </div>
    <div class="icon">
      <app-weather-icon></app-weather-icon>
    </div>
    <div class="low">
      <div>{{ day.lowTemp }}&deg;</div>
      <div class="label">Low</div>
    </div>
    <div class="high">
      <div>{{ day.highTemp }}&deg;</div>
      <div class="label">High</div>
    </div>
    <div class="rain">
      <div>{{ day.rainPercentage }}%</div>
      <div class="label">Rain</div>
    </div>
    <div class="wind">
      <div>{{ day.windSpeed }}km/h</div>
      <div class="label">Wind</div>
    </div>
  </div>
</ng-container>
